html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;

}

.chat-box {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    transition: all .5s;
    border-radius: 8px;

}

.chat-title-name {
    margin-right: 15px;
    max-width:300px;
    height: max-content;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ff2998;
    line-height: 20px;
    box-shadow: 1px 2px 2px rgb(209, 174, 222),
    0 2px 2px rgb(204, 174, 222);;
}
.name-text{
position: absolute;
    top: 6px;
    left: 0;
    width: 20px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    font-size: 12px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;



}

.msg-text{
    margin-left: 15px;

}
.chat-bg-name {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
    background-image: linear-gradient(45deg, #3549b0, #ff2998);
    margin: 0 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.logout {
    width: max-content;
    height: max-content;
    background: white;
    border-radius: 5px;
    padding: 3px 3px;
    top: 10px;
    left: 4px;
    position: absolute;
    display: none;
}

.go-back {
    text-decoration: none;
    font-size: 12px;
    color: #0a0a0a;
}

.hamburger {
    position: relative;
    margin: 10px;
    width: 20px;
    height: 20px;
    transition: all .5s linear;
}

.hamburger:hover .logout {
    display: block;
}

.menu {
    display: block;
    height: 3px;
    width: 3px;
    background-color: white;
    margin-top: 2px;
    border-radius: 50%;

}

.avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;

}

.chat-title {
    padding: 0 10px;
    position: relative;
    width: 300px;
    height: 60vh;
    backdrop-filter: blur(2px);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 1px 2px 2px rgba(174, 198, 222, .5),
    inset 0 2px 2px rgba(174, 198, 222, .5);
    background-color: rgba(0, 0, 0, 0.1);
    animation: zoom .5s linear;


}

.chat-title::-webkit-scrollbar-track,
.chat-title::-webkit-scrollbar,
.chat-title::-webkit-scrollbar-thumb {

    background-color: transparent;
    z-index: -10000;
}


@keyframes zoom {
    from {
        height: 2px;
        width: 2px;
        border-radius: 50%;
    }
    to {
        min-width: 300px;
        height: 60vh;
    }
}

.chat-wrapper {

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-chat-send, .content-chat-receive {

    position: relative;

    max-width: 60%;
    width: max-content;
    margin: 16px 10px 5px 10px;
    /*width: max-content;*/
    padding: 5px 5px;
    border-radius: 5px;


}

.content-chat-send {
    background-color: white;
    color: #0a0a0a;
}

.content-chat-receive {
    background-color: #3549b0;
    color: white;
}


.avatar-left, .avatar-right {
    position: absolute;
    background-color: #ececec;
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #2979FF;
    top: -14px;
}

.avatar-left {
    right: -20px;
}

.avatar-right {
    left: -20px;
}

/*.reverse {*/
/*    flex-direction: row-reverse;*/
/*}*/

.content-conver {
    font-size: 14px;
    display: flex;
    align-items: center;
    height: max-content;
    word-break: break-all;
    min-width: 60%;
}


.form-group {


    box-shadow: 1px 2px 2px rgba(174, 198, 222, .5),
    0px 2px 2px rgba(174, 198, 222, .5),
    inset 1px 3px 10px rgba(236, 232, 232, 0.5),
    inset 1px 2px 2px rgba(174, 198, 222, .5);


    min-width: 300px;
    height: max-content;


    padding: 10px;
    display: flex;
    bottom: 0;

    background-color: rgba(255, 255, 255, .5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat-text {
    outline: none;
    width: 100%;
    border: 1px solid white;

    margin: 2px;
    backdrop-filter: blur(5px);
    background-color: transparent;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 2px 2px rgba(174, 198, 222, .5),
    0px 2px 2px rgba(174, 198, 222, .5),
    inset 1px 3px 10px rgba(236, 232, 232, 0.5),
    inset 1px 2px 2px rgba(174, 198, 222, .5)

}

.button-send {
    padding: 8px 20px;
    background-color: white;

    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #0a0a0a;
    width: max-content;
    margin: 2px;
    font-size: 14px;
    box-shadow: -2px -2px 12px rgba(174, 198, 222, .5),
    1px 2px 2px rgba(174, 198, 222, .5)

}

.button-send:hover {
    box-shadow: 3px 2px 2px rgba(174, 198, 222, .5),
    1px 2px 2px rgba(174, 198, 222, .2),
    inset 1px 2px 2px rgba(174, 198, 222, .2),
    inset 1px 2px 2px rgba(174, 198, 222, .2),
    inset 1px 2px 10px rgba(236, 232, 232, 0.2),
    inset 1px 2px 2px rgba(174, 198, 222, .2)
}