html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /*background-color: #1A1A1D;*/
}

.joinInnerContainer {
    width: 100%;

}

.joinInput {
    padding: 15px 25px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;

}

.heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 10px 40px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: max-content;
    min-width: 220px;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }

    .joinInnerContainer {
        width: 90%;
    }


}

button:focus {
    outline: 0;
}
.disabled-link{
    pointer-events: none;
}